$white: #fff
$text-light: #f0f9f9
$text-med: #5c687a
$text-dark: #2e3a4b
$sidebar-bg: #576375
$tag-bg: #485364
$tag-counter: #677385
$actionbtn-bg: #757d8c
$actionbar-bg: #6e7686
$blue: #65b8d4
$dark-blue: darken($blue, 6%)
$red: #f25c5c
$dark-red: darken($red, 6%)
$selected: #edf0f5
$line: #d1d5dd

$sidebar-width: 300px
$actionbar-height: 75px